@font-face {
    font-family: 'Roboto-Light';
    src: url(../Fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url(../Fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url(../Fonts/Montserrat-Regular.ttf);
}